""" Copy this file to ./projectSecrets.py and fill out all fields 
"""

# generate the key with
# py -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
KEY = '...'


# Mail:
EMAIL_HOST = 'mail.example-domain.com'
EMAIL_PORT = 465                # SMTP-Port (could also be 587)
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_USE_SSL = True            # Use only one! TSL OR SSL!
EMAIL_USE_TLS = False           # Use only one! TSL OR SSL!
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER
