<style>
  h2 {
    font-size: 20;
  }

  p {
    font-size: 15;
    margin: 0;
    padding: 0;
  }

  .small-text {
    font-size: 12;
  }
</style>

<h2>Hallo {{ name }}!</h2>
<p>Wir haben deine Anmeldung erhalten und freuen uns über dein Interesse, an dem Projekt <b>{{ groupname }}</b> unseres
  Jugendforschungszentrums <i>AEROSPACE LAB</i> teilzunehmen. <br>
  Im Moment können wir Dir noch keine definitive Zusage für die Teilnahme erteilen.</p>
<p>Sobald das Anmeldeverfahren abgeschlossen ist, melden wir uns wieder und bitten bis dahin noch um etwas Geduld.</p>
<br>
<p>Mit freundlichen Grüßen aus dem LAB-Büro,<br>
  <br>
  <b><i>AEROSPACE LAB</i> e.V.</b> Jugendforschungszentrum Herrenberg-Gäu<br>
</p>
<br>
<p class="small-text">
  Berliner Straße 1  |  71083 Herrenberg  |  07032 78435 15<br>
  <a href="mailto:buero@aerospace-lab.de">buero@aerospace-lab.de</a>  |  <a href="https://aerospace-lab.de">www.aerospace-lab.de</a><br>
  Registergericht: Amtsgericht Stuttgart, VR 241841  |  Steuernummer: 56002/39693, Finanzamt Böblingen<br>
  </p>