<style>
  h2 {
    font-size: 20;
  }

  p {
    font-size: 15;
    margin: 0;
    padding: 0;
  }

  .small-text {
    font-size: 12;
  }
</style>

<h2>Hallo {{ name }}!</h2>
<p>Wir haben deine Anmeldung erhalten und freuen uns über dein Interesse, an dem Projekt <b>{{ groupname }}</b> unseres
  Jugendforschungszentrums AEROSPACE LAB teilzunehmen. <br>
  Im Moment können wir Dir noch keine definitive Zusage für die Teilnahme erteilen.</p>
<p>Sobald das Anmeldeverfahren abgeschlossen ist, melden wir uns wieder und bitten bis dahin noch um etwas Geduld.</p>
<br>
<p>Mit freundlichen Grüßen aus dem LAB-Büro,<br>
  <b>AEROSPACE LAB e.V.</b><br>
  Jugendforschungszentrum Herrenberg-Gäu</p>

<hr>

<p class="small-text">
  Berliner Straße 1 <br>
  D-71083 Herrenberg<br>
  E-Mail: info@aerospace-lab.de<br>
  Tel. 07032 78435 15<br>
  Fax. 07032 78435 17<br>
  <a href="https://aerospace-lab.de">www.aerospace-lab.de</a></p>