<style>
  h4 {
    font-size: 17;
  }

  p {
    font-size: 15;
    margin: 0;
    padding: 0;
  }

  .small-text {
    font-size: 12;
  }
</style>

<h4>Neue Anmeldung für Projekt {{ groupname }}</h4>
<p>Über das Webinterface ging eine neue Anmeldung ein! <br>
  <b>{{ groupname }}</b><br>
  <b>{{surname}}, {{forename}}</b><br>


</p>

<hr>

<p class="small-text">
  Berliner Straße 1 <br>
  D-71083 Herrenberg<br>
  E-Mail: info@aerospace-lab.de<br>
  Tel. 07032 78435 15<br>
  Fax. 07032 78435 17<br>
  <a href="https://aerospace-lab.de">www.aerospace-lab.de</a></p>