<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <link rel="stylesheet" href="{% static 'ui/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'ui/css/main.css' %}" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'ui/images/favicon.ico' %}">
</head>

<body>
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Projektanmeldungen</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %}">
            <a class="nav-link" href="/">
              Übersicht
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://aerospace-lab.de">
              Zurück zur ASL-Webseite
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  {% block contentBaseBlank %}{% endblock %}

  <script src="{% static 'ui/js/jquery.min.js' %}"></script>
  <script src="{% static 'ui/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>