{% extends "ui/base.html" %}
{% block content %}

<div class="container-sm">
  <h2 class="mt-5">{{project.name}}</h2>
  <h5 class="mt-1">Registrierung gescheitert</h5>

  <p class="mt-3 lead">
    Du kannst dich für ein Projekt nur einmal anmelden.
  </p>
  <p>  
    Wenn du die Email vom letzten Mal nicht findest, schau mal im deinem Spam-Ordner nach. Falls du sie dort auch nicht findest, schreibe uns einfach über 'Kontakt' (ganz unten rechts) direkt an.
  </p>

  <a class="btn btn-primary" href="/" role="button">Zurück zur Projektübersicht</a>
</div>


{% endblock %}