{% extends "ui/base.html" %}
{% block content %}

<h2>{{project.name}}</h2>
<h5>Registrierung erfolgreich</h5>

<p>Wir haben deine Anmeldung erhalten und freuen uns über dein Interesse.</p>
<p>Im Moment können wir Dir noch keine definitive Zusage für die Teilnahme erteilen.</p>
<p>Du solltest bereits eine Mail erhalten haben. Sobald das Anmeldeverfahren abgeschlossen ist, melden wir uns wieder und bitten bis dahin noch um etwas Geduld.</p>


<p><a href="https://aerospace-lab.de/">Zurück zur Webseite</a></p>

{% endblock %}