{% extends "ui/base.html" %}
{% block content %}

<div class="container-sm">
  <h2 class="mt-5">{{project.name}}</h2>
  <h5 class="mt-1">Registrierung erfolgreich</h5>

  <p class="mt-3 lead">
    Wir haben deine Anmeldung erhalten und freuen uns über dein Interesse.<br>
    Im Moment können wir Dir noch keine definitive Zusage für die Teilnahme erteilen.
  </p>
  <p>
    Du solltest bereits eine erste Mail erhalten haben. Sobald das Anmeldeverfahren abgeschlossen ist, melden wir uns
    wieder und bitten bis dahin noch um etwas Geduld.
  </p>

  <a class="btn btn-primary" href="https://aerospace-lab.de/" role="button">Zurück zur ASL Webseite</a>
</div>


{% endblock %}